---
import Layout from "../layouts/Layout.astro";
import Info from "src/components/Info.astro";
import Name from "src/components/Name";
import Overview from "src/components/Overview";
---

<Layout title="File Share">
  <main class="m-auto p-2 text-text">
    <Info />
    <h1 class="m-0 mb-4 mt-3 text-center text-4xl font-bold">
      <Name client:only />
    </h1>
    <Overview client:only />
  </main>
</Layout>
