---
import CheckLogin from "src/components/CheckLogin";
import Layout from "../layouts/Layout.astro";
import Info from "src/components/Version.astro";
import Name from "src/components/Name";
import Overview from "src/components/Overview";
---

<Layout title="File Share">
  <main class="m-auto flex h-dvh flex-col p-2">
    <Info />
    <CheckLogin client:only="solid-js" />
    <Name />
    <Overview client:only="solid-js" />
  </main>
</Layout>
