---
import Layout from '../layouts/Layout.astro';
import {Overview} from "../components/Overview";
---

<Layout title="Local File Share">
  <main>
    <h1 class="title">Welcome to <span class="text-gradient">Local File Share</span></h1>
    <Overview client:only/>
  </main>
</Layout>

<style>

</style>
