---
import Layout from "../layouts/Layout.astro";
import Info from "src/components/Info.astro";
import LoginComponent from "src/components/Login";
import Name from "src/components/Name";
---

<Layout title="File Share">
  <main class="m-auto flex h-[100dvh] flex-col p-2 text-text">
    <Info />
    <h1 class="m-0 mb-4 mt-3 text-center text-4xl font-bold">
      <Name client:only />
    </h1>
    <div class="m-auto flex justify-center">
      <div
        class="rounded-lg bg-textbg p-1 shadow-[0_0_60px_40px_rgba(130_1_120_/_20%)]"
      >
        <div
          class="flex justify-center overflow-auto rounded-lg bg-background p-2"
        >
          <LoginComponent client:only />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style></style>
