---
import Layout from "../layouts/Layout.astro";
import ImportantText from "src/components/importantText";
import Info from "src/components/Info.astro";
import Login from "src/components/Login";
---

<Layout title="Local File Share">
  <main class="m-auto flex h-[100dvh] flex-col p-2 text-text">
    <Info />
    <h1 class="m-0 mb-4 mt-3 text-center text-4xl font-bold">
      Welcome to <ImportantText>Local File Share</ImportantText>
    </h1>
    <div class="m-auto flex justify-center">
      <div
        class="rounded-lg bg-textbg p-1 shadow-[0_0_60px_40px_rgba(130_1_120_/_20%)]"
      >
        <div
          class="flex justify-center overflow-auto rounded-lg bg-background p-2"
        >
          <Login client:only />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style></style>
