---
import CheckLogin from "src/components/CheckLogin";
import Layout from "../layouts/Layout.astro";
import Info from "src/components/Info.astro";
import LoginComponent from "src/components/Login";
import Name from "src/components/Name";
---

<Layout title="File Share">
  <main class="m-auto flex h-[100dvh] flex-col p-2 text-text">
    <Info />
    <CheckLogin client:only reverse />
    <h1 class="m-0 mb-4 mt-3 text-center text-4xl font-bold">
      <Name />
    </h1>
    <div class="m-auto flex justify-center gap-8">
      <LoginComponent client:only />
    </div>
  </main>
</Layout>

<style></style>
