---
import CheckLogin from "src/components/CheckLogin";
import Layout from "../layouts/Layout.astro";
import Info from "src/components/Version.astro";
import LoginComponent from "src/components/Login";
import Name from "src/components/Name";
---

<Layout title="File Share">
  <main class="m-auto flex h-dvh flex-col p-2">
    <Info />
    <CheckLogin client:only="solid-js" reverse />
    <Name />
    <LoginComponent client:only="solid-js" />
  </main>
</Layout>

<style></style>
