main {
	margin: auto;
	padding: 1rem;
}

.title {
	font-size: 3rem;
	font-weight: 800;
	margin: 0;
}

.instructions {
	line-height: 1.6;
	margin: 1rem 0;
	border: 2px outset rgba(var(--accent), 55%);
	padding: 1rem;
	border-radius: 0.4rem;
}

.text-gradient {
	background-image: var(--accent-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-color {
	color: rgb(var(--accent-light));
	font-weight: bolder;
}

.files {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
	gap: 1rem;
	padding: 0;
}

.file {
	background-size: 200%;
	border-radius: 0.6rem;

	border: 2px dashed rgba(var(--accent), 55%);
	background-image: none;
	background-color: transparent;
}

.existingFile {
	display: flex;
	flex-direction: column;
	padding: 0.8rem;
	position: relative;
	mix-blend-mode: difference;
	color: white;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.existingFile > h2 {
	filter: drop-shadow(.05em .05em black);
}

.existingFile > p {
	filter: drop-shadow(.05em .05em black);
}

.existingFile > .close {
	position: absolute;
	right: 1.1rem;
	top: 1rem;

	padding: 0.3rem;
	cursor: pointer;

	border-radius: 0.6rem;
	border: 2px solid rgba(var(--accent), 30%);
}

.existingFile > .count {
	position: absolute;
	right: 1.1rem;
	bottom: 0;

	padding: 0.3rem;

	border-radius: 0.6rem;
	border: 2px solid rgba(var(--accent), 30%);
}

.newFile {
	display: flex;
	flex-direction: row;
	padding: 0.6rem;

	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.dragover {
	background-color: rgba(var(--accent), 30%);
	border: 2px dashed rgba(var(--accent), 55%);
}

.file:is(:hover, :focus-within) {
	color: rgb(var(--accent));
}

.file > h2 {
	margin-block: 0;
	font-size: 2rem;
}